/* =================================================================== 
 * Mike Turko Stylesheet Mturko
 * Template Ver. 1.0.0
 * 01-15-2024
 * ------------------------------------------------------------------*/
 
:root{
	--checkout-text-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue","Ubuntu",sans-serif; 
 }
 
 
 
 
a {color:#008AFF }


/* blog title and subtitle*/
.post-preview a:focus,
.post-preview a:hover {
  text-decoration: none;
  color: #008AFF;
}

/* blog tags*/
.blog-tags a {color:#008AFF}
 
.page-heading {color:#404040;}
.page-subheading {color:purple; font-weight:700!important}
.well h2{color:#404040;}
.well {background-color:#f5f5f5}


.container-top {
  --offset: 100px;
  --fade: 80px;
  
  display: flex;
  align-items: flex-end;
  width: 60px;
  justify-self: end;
  justify-content: flex-end;
  -webkit-mask:linear-gradient(#0000 calc(100vh + var(--offset)),#000 calc(100vh + var(--offset) + var(--fade)));
}

.top {
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  
  /* visual styling */
  width:100%;
  aspect-ratio:1;
  background:#ff8b24;
  border-radius:10px;
}
.top:before {
  content:"";
  position:absolute;
  inset:30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}



code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #dddddd!important;
    border-radius: 4px;
}

/* TKO TIP JAR AREA */
* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.tipjar_row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom:10px
}

/* Create four equal columns */
.tipjar_column {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .tipjar_column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .tipjar_row {
    flex-direction: column;
  }
}


/* PAYPAL BUTTON */


#donate_paypal_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

#donate_paypal{
  background-color:white;
    padding:10px;
  border-radius:5px;
}



 a.button_paypal:link,  a.button_paypal:visited {
  background-color: rgb(0, 116, 212);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:265px;
  border-radius:5px;
  font-family:  var(--checkout-text-font-family);
  font-weight: 500;
  font-size: 15px
}

a.button_paypal:hover, a.button_paypal:active {
  background-color: red;
}